<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  text-align: center;
  font-size: 56px;
  min-height: 1em;
  color: Firebrick;
  font-style: italic;
}
.div1 {
  text-align: center;
  vertical-align: middle;
  font-size: 32px;
  min-height: 1em;
  padding: 5px;
}
.div2 {
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  min-height: 1em;
  padding: 5px;
}
button {
  background-color: #FF0000;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  font-size: 20px;
  margin: 30px 16px;
  cursor: pointer;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 400px;
}
</style>
</head>
<body>

<p style="color: green"><%= notice %></p>

<img src="https://static.vecteezy.com/system/resources/previews/002/497/713/original/kid-presentation-character-flat-cartoon-template-design-illustration-vector.jpg" alt="Showing project">

<div class="div1">
  <%= render @project %>
</div>
<div class="div2">
  <%= link_to "Edit this project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", projects_path %>
  <%= button_to "Destroy this project", @project, method: :delete %>
</div>

</body>
</html>